.rectangle{

    height: 190px;

    width:100%;

    background:#F69E35;

    display: inline-block;

}

.Image2{

    display:inline-block;

    height: 190px;

    padding:20px;

    margin-top:-230px;

    margin-left:480px;
    
}

.button{

    

    background-color: #e8ab45;;

    padding: 14px 28px;

    font-size: 50px;

    font-weight:400px;

    margin-left: 1460px;

    margin-top:-190px;

    position:fixed;

    cursor: pointer;

    display: inline-block;

    color:white;
padding-top:30px;
    

    border:none;
    height:213px;

}

.button:hover{

    background-color:orange;
    color: white;

}

.button1{

    border: none;

    background-color: transparent;

    padding: 14px 28px;

    font-size: 50px;

    font-weight:400px;

    margin-left:210px;

    margin-top:-190px;

    position:fixed;

    cursor: pointer;

    display: inline-block;

    color:grey;

    padding-top:70px;

    padding-bottom:45px;

}

.button2{

    border: none;

    background-color: transparent;

    padding: 14px 28px;

    font-size: 50px;

    margin-left:360px;

    margin-top:-190px;

    position:fixed;

    cursor: pointer;

    display: inline-block;

    color:grey;

    padding-top:70px;

    padding-bottom:45px;

}

.button3{

    border: none;

    background-color: transparent;

    padding: 14px 28px;

    font-size: 50px;

    font-weight:400px;

    margin-left:700px;

    margin-top:-190px;

    position:fixed;

    cursor: pointer;

    display: inline-block;

    color:grey;

    padding-top:70px;

    padding-bottom:45px;

}

.button1:hover{

    background-color:#a4a4a4;

    color:white;

}

.button2:hover{

    background-color:#a4a4a4;

    color:white;}

.button3:hover{

        background-color:#a4a4a4;

        color:white;}

        .Man{

            display:inline-block;

            width:200px;

            margin-left:150px;

            margin-top:50px;

            position:fixed;

        }

        .Rectangle3{

            height:400px;

            width:400px;

            background-color: lightgrey;

            border: 5px solid #C2C2C2;

            border-radius: 5px;

            margin-top:280px;

            margin-left:55px;

        }

        .Log{

            margin-top:-180px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 40%;
            

            display:fixed;
            height:150px;
            

        }

       
        /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 530px;
        padding:100px;
        margin-top:200px;
        border-radius:5px;
        border-color:#F69E35;
        border-width:2px;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      table {
        font-size: 12px;
      }
      #map {
        width: 80%;
        padding-top:-100px;
        display:inline-block;
        border-style:solid;
        
      }
      #listing {
        position: fixed;
        width: 350px;
        height: 1500px;
        overflow: auto;
        left: 442px;
        cursor: pointer;
        overflow-x: hidden;
        margin-left:800px;
        border-width:40px;
        margin-top:-535px;
        
        
      }
      #findhotels {
        position: fixed;        
        width: 100px;
        font-size: 30px;        
        z-index: 5;       
        margin-top:90px;
        font-weight:bold;
        display:inline-block;
        margin-left:440px;
        
      }
      
      #locationField {
        position: fixed;
        width: 500px;
        height: 25px;
        left: 108px;
        top: 0px;
        z-index: 5;
        background-color: transparent;
      }
      #controls {
        position: fixed;        
        width: 100px;
        font-size: 30px;        
        z-index: 5;       
        margin-top:60px;
        font-weight:bold;
        display:inline-block;
        margin-left:40px;
      }
      #autocomplete {
        width: 100%;
        margin-top: 252px;
        display: block;
        margin-left: 450px;
        margin-right: auto;
        width: 50%;
        border-radius:3px;
        padding:15px;
        border-color:orange;
        border-width:3px;
      }
      #country {
        width: 100%;
        margin-top: 25px;
        display: block;
        margin-left: 800px;
        margin-right: auto;
        width: 200px;
        border-radius:5px;
        padding:3px;
        border-color:orange;
        border-width:3px;
        height:60px;
      }
      .placeIcon {
        width: 20px;
        height: 34px;
        margin: 4px;
      }
      .hotelIcon {
        width: 24px;
        height: 24px;
      }
      #resultsTable {
        border-color:orange;
        width: 240px;
        margin-left:100px;
        border-style:solid;

      }
      #rating {
        font-size: 13px;
        font-family: Arial Unicode MS;
      }
      .iw_table_row {
        height: 18px;
      }
      .iw_attribute_name {
        font-weight: bold;
        text-align: right;
      }
      .iw_table_icon {
        text-align: right;
      }

     

