.rectangle{
    position: fixed;
    width: 400px;
    height: 517px;
    margin-left:1000px;
    margin-top: -500px;
    background: #FFFFFF;
    border: 1px solid #C2C2C2;
    box-sizing: border-box;
    border-radius: 20px;
    display:inline-block;

}
.Image1{
    position: fixed;
    width: 125px;
    height: 178px;
    margin-left:130px;
    margin-top: 40px;
    display: inline-block
    
}
.login{
    margin-top: 265px;
    margin-left: 85px;
    position: fixed;
    padding:10px;
    border-radius:10px;
    border-color:orange;
    box-shadow: 0px 1px 1px
}
    
.login2{
    margin-top: 305px;
    margin-left: 85px;
    position: fixed;
    padding:10px;
    border-radius:10px;
    border-color:orange;
    box-shadow: 0px 1px 1px
}
body{
background-color:green;
}
.button{
    position:fixed;
    margin-top: 380px;
margin-left:130px;
   background-color: white;
   font-weight:bold;
   border-color:orange;
   border-style:solid;
   border-width: 5px;
   padding:10px 40px;
   border-radius:10px;
   cursor: pointer;
}
.button:hover{
    background: linear-gradient(to right, #ffcc66 1%, #cc6600 100%);
    color:white;
}


.Image2{
    display:inline-block;
    height: 190px;
    padding:20px;
}

.rectangle2{
    height: 20px;
    width:100%;
    background: linear-gradient(to right, #ffcc66 1%, #cc6600 100%);
}
.image3{
    margin-left:250px;
    height:500px;
    margin-top:30px;
    
}

.text1{
    position: absolute;
width: 268px;
height: 100px;
margin-left:550px;

font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 40px;
text-align: center;
margin-top:-500px;
color: #000000;
}
.text2{
    position: absolute;
width: 57px;
height: 36px;



padding-left:725px;
font-weight: 400;
line-height: normal;
font-size: 40px;
text-align: center;
margin-top:-300px;
color: #000000;
}
.text3{
    position: absolute;
width: 48px;
height: 36px;

padding-left:800px;
font-weight: 900;
line-height: normal;
font-size: 40px;
text-align: center;
margin-top:-300px;
color: #ED9F2A;
}

.Log{
    margin-top: 45px;
}

.Lit{
    margin-left:650px;
    margin-top:-300px;
    display:inline-block;
    position:fixed;
}