.rectangle{
    height: 190px;
    width:100%;
    background: #e6e6e6;
    display: block;
    
}

.Image2{
    display:inline-block;
    height: 190px;
    padding:20px;
    margin-top:-230px;
}
.ball{
    position: absolute;
width: 109px;
height: 175px;
font-weight: 300;
line-height: normal;
font-size: 64px;
display: inline-block;
color: #000000;
margin-top:-135px;
margin-left: 0px;
}

.City{
    position: absolute;
width: 113px;
height: 75px;
display:inline-block;
margin-left: 88px;
margin-top:-135px;
font-weight: 800;
line-height: normal;
font-size: 64px;
color: #ED9F2A;
}
.button{
    border: none;
    background-color: transparent;
    padding: 14px 28px;
    font-size: 50px;
    font-weight:400px;
    margin-left:300px;
    margin-top:-190px;
    position:fixed;
    cursor: pointer;
    display: inline-block;
    color:grey;
    padding-top:70px;
    padding-bottom:45px;
    
}
.button:hover{
    background-color:#a4a4a4;
    color:white;
}
.button1{
    border: none;
    background-color: transparent;
    padding: 14px 28px;
    font-size: 50px;
    font-weight:400px;
    margin-left:675px;
    margin-top:-190px;
    position:fixed;
    cursor: pointer;
    display: inline-block;
    color:grey;
    padding-top:70px;
    padding-bottom:45px;
    
}
.button2{
    border: none;
    background-color: transparent;
    padding: 14px 28px;
    font-size: 50px;
    
    margin-left:840px;
    margin-top:-190px;
    position:fixed;
    cursor: pointer;
    display: inline-block;
    color:grey;
    padding-top:70px;
    padding-bottom:45px;
}
.button3{
    border: none;
    background-color: transparent;
    padding: 14px 28px;
    font-size: 50px;
    font-weight:400px;
    margin-left:1200px;
    margin-top:-190px;
    position:fixed;
    cursor: pointer;
    display: inline-block;
    color:grey;
    padding-top:70px;
    padding-bottom:45px;
}
.button1:hover{
    background-color:#a4a4a4;
    color:white;
}
.button2:hover{
    background-color:#a4a4a4;
    color:white;}
.button3:hover{
        background-color:#a4a4a4;
        color:white;}

        .button4{
            border: none;
            background-color: transparent;
            padding: 14px 28px;
            font-size: 50px;
            font-weight:400px;
            margin-left:520px;
            margin-top:-190px;
            position:fixed;
            cursor: pointer;
            display: inline-block;
            color:grey;
            padding-top:70px;
            padding-bottom:45px;
        }
        .button4:hover{
            background-color:#a4a4a4;
            color:white;
        }

        .rectangle1{
            position: fixed;
        width: 1004px;
        height: 707px;
        margin-left:50px;
        
        background-color: rgb(248, 226, 194);
        background: linear-gradient(to right, #ffcc66 1%, #e9aa6c 100%);
        box-sizing: border-box;
        
        border-radius: 17px;
        }

        .rectangle2{
            position: fixed;
        width: 504px;
        height: 707px;
        margin-left:1120px;
        
        background-color: rgb(248, 226, 194);
        background: linear-gradient(to left, #ffcc66 1%, #e9aa6c 100%);
        box-sizing: border-box;
        
        border-radius: 17px;
        }